@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap');

.ysabeau-office {
  font-family: "Ysabeau Office", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.header {
    background-color: rgb(255, 252, 252); 
    color: black; 
    padding: 15px 20px; 
    border: 2px solid rgb(120, 120, 120); 
    margin-bottom: 30px; 
    font-size: 17px;
}

.header nav ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content: flex-end; 
}

.header nav ul li {
    margin-left: 20px; 
}

.header nav ul li a {
    color: black; 
    text-decoration: none; 
}

.header nav ul li a:hover {
    text-decoration: underline;
}
#firstline6{
    text-align: center;
}
table {
    width: 100%;
    border-style:inset;
}

th, td {
    padding: 10px;
    text-align: center;
}
caption{
    font-size: 25px;
    margin-bottom: 10px;
}
thead {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}
form {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    width: 319px;
    background-color: #f9f9f9;  
}
label {
    display: block;
    margin: 10px 0 5px;
}
input, button, select {
    align-items: center; 
    width: 300px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-element-container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}
button {
    background-color: #6cc5d3;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #439eac;
}
h2{
    text-align: center;
}
.formTable{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 3%, rgba(179,226,232,1) 40%, rgba(175,224,231,1) 42%, rgba(171,222,230,1) 46%, rgba(165,220,228,1) 50%, rgba(169,221,229,1) 54%, rgba(175,223,231,1) 58%, rgba(181,225,233,1) 62%, rgba(188,228,235,1) 66%, rgba(255,255,255,1) 97%);    
}